/*Style the titles*/
h1 {
  color: crimson;
}

h2 {
  color: lightblue;
  font-family: courier;
}

h3 {
  padding: 20px 0px 0px 0px;
  color: greenyellow;
}

h5 {
  padding: 20px;
  font-size: 20pt;
  text-align: center;
  color: crimson;
  font-family: "Lucida Handwriting";
}

/*style the links*/

a:link {color: yellow;}
a:hover {color: white;}
a:visited {color: blue;}
a:active {color: lime;}


#contact a {
  font-size: 15pt;
  padding: 10px;
}
/*style the hrs*/
.intro hr {
  height: 10px;
  background-color: black;
}

#contact hr {
  height: 10px;
  background-color: black;
}
/*style the containers*/
/*header*/
header {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.header-item {
  flex: 1;
  font-family: cursive;
  text-align: center;
}

.header-image {
  flex: 1;
  width: 100%;
  height: 100%;
  text-align: center;
}

/*style the main body*/

body {
  background-color: black;
  text-align: center;
}

main {
  flex-direction: column;
}

/*style the nav bar*/
nav {
  flex: 1;
  text-align: center;
  background-color: red;
  size: 20pt;
  
}

nav a {
  padding: 10px;
  size: 20pt;
}

#AboutMe {
  color: white;
  text-align: center;
  flex: 1;

}

.intro {
  background-color: silver;
  font-family: "lucida calligraphy";
  width: 100%;
  height: 100%;
  text-align: center;
}

.intro p {
  padding: 30px;
}

intro {
  flex:1;
  flex-direction: row;
  height: 100%;
}

.intro2 {
  flex: 50%;
  height: 100%;
  width: 100;
}

.skills {
  flex: 50%;
  height: 100%;
  width: 100;
}

team {
  display: flex;
  flex-direction: row;
}

#team {
  flex: 50%;
  height: 100%;
  width: 100;
  
}

#me {
  flex: 50%;
  height: 100%;
  width: 100%;
}

#contact {
  flex: 1;
  background-color: silver;
  font-family: "Arial";
  width: 100%;
  text-align: center;
}


#contact ul{
  text-align: left;
  list-style-type: none;
  width: 100%;
  padding: 10px;
  size: 13pt;
}

#contact ul a {
  size: 14pt;
}

/*style the form*/
form input {
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

form label {
  display: flex;
  flex-direction: column;

}

form {
  display: flex;
  flex-direction: column;
}

#form {
  text-align: justify;
}

/*footer*/
footer {
  background-color: whitesmoke;
  width: 100%;
  border-color: black;
  border-width: 5px;
  margin: 0;
  text-align: right;
}

/*project page*/

pmain {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: black;
  text-align: left;
  text-align: justify;
  color: aqua;
}

.project {
  display: flex;
  flex-direction: row;
  
}
pbody h1 {
  text-align: center;
}



.description {
  flex: 50%;
  height: 50%;
  width: 50%;
}

.screenshot {
  flex: 50%;
  height: 100px;
  width: 100px;
}

.screenshot img {
  height: fit-content;
  width: 100%;
}

pfooter a{
  text-align: center;
  height: inherit;
  width: inherit;
}

#footer {
  text-align: center;

}

pfooter a:link {color: red;}
pfooter a:hover {color: white;}
pfooter a:visited {color: blue;}
pfooter a:active {color: lime;}


/*tablet sized screen*/
 @media all and (min-width: 480px){
  header {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .header-item {
    flex: 1;
    padding: 80px;
    font-family: cursive;
    text-align: center;
  }

  .header-image {
    flex: 1;
    padding: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  intro {
    display: flex;
    flex-direction: column;
  }

  .intro2 {
    flex: 1;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .skills {
    flex: 1;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  team {
    display: flex;
    flex-direction: column;
  }
  
  #team {
    flex: 1;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  #me {
    flex: 1;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
/*computer sized screen*/
@media all and (min-width: 800px) {
  header {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .header-item {
    flex: 2;
    padding: 80px;
    font-family: cursive;
    text-align: center;
  }

  .header-image {
    flex: 1;
    padding: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}


